---
layout: default
title: "다산LAB 물리 블로그"
description: "하나고등학교 물리 동아리 다산LAB의 물리 기사들이 올라오는 곳입니다."
---

<ul class="article-list">
  {% for post in paginator.posts %}
    <li class="article-list-item {% if site.scrollappear_enabled %}scrollappear{% endif %}">
      <a href="{{ post.url | relative_url }}" title="{{ post.title }}">
        <h5>
          {{ post.title }}
          {% include svg-icon.html icon="arrow-right" %}
        </h5>
      </a>
      <p>
        {% if post.description %}
          {{ post.description }}  
        {% else %}
          {{ post.excerpt }}
        {% endif %}
      </p>
      {% include article/info-footer.html post=post %}
    </li>
  {% endfor %}
  {% if paginator.total_pages > 1 %}
    <li class="article-pagination {% if site.settings.scrollappear_enabled %}scrollappear{% endif %}">
      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="article-pagination-left">{% include svg-icon.html icon="arrow-left" %} Older posts</a>
      {% endif %}
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="article-pagination-right">Newer posts {% include svg-icon.html icon="arrow-right" %}</a>
      {% endif %}
    </li>
  {% endif %}
</ul>
